# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

github.com
golang.org
cloud.google.com/
go.opencensus.io/
google.golang.org/

.DS_store

kone-server.code-workspace

bin/